<div class="container">
    <div class="row">
        <div class="col">
            <p class="fs-1">Ricky and Morty App</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a [routerLink]="['character']">
                character
            </a>
        </div>
        <div class="col">
            <a [routerLink]="['location']">
                location
            </a>
        </div>
        <div class="col">
            <a [routerLink]="['episode']">
                episode
            </a>
        </div>
    </div>
</div>